WEITHG_TRACKER_PORT=3000
WEITHG_TRACKER_JWT_SECRET=replace-with-very-long-random-secret

WEITHG_TRACKER_DB_HOST=127.0.0.1
WEITHG_TRACKER_DB_PORT=5432
WEITHG_TRACKER_DB_NAME=weight-tracker
WEITHG_TRACKER_DB_USER=weighttracker
WEITHG_TRACKER_DB_PASSWORD=replace-with-strong-password
WEITHG_TRACKER_DB_SSLMODE=disable
