:root {
  --bg-color: #ffffff;

  --default-text-color: #424242;

  --button-bg: #0c66e4;
  --button-color: #ffffff;
  --button-hover: #0055cc;

  @media (prefers-color-scheme: dark) {
    --bg-color: #1d2125;

    --default-text-color: #fafafa;

    --button-bg: #579dff;
    --button-color: #1d2125;
    --button-hover: #85b8ff;
  }
}

body {
  margin: 0;

  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: var(--default-text-color);

  background-color: var(--bg-color);
}

input,
select,
textarea,
button {
  font: inherit;
}

.g-button {
  padding: 4px 20px;

  border-radius: 4px;

  color: var(--button-color);

  border: none;

  cursor: pointer;

  background-color: var(--button-bg);
}

.g-button:hover,
.g-button:focus {
  background-color: var(--button-hover);
}
