:root {
  --bg-color: #ffffff;

  --default-text-color: #172b4d;
  --inverse-text-color: #ffffff;

  --outline: #388bff;

  --button-bg: #0c66e4;
  --button-hover: #0055cc;
  --button-bg-secondary: #091e420f;
  --button-bg-secondary-hover: #091e4224;

  --input-bg: #ffffff;
  --input-bg-hover: #f7f8f9;
  --input-border: #8590a2;
  --input-border-focus: #388bff;

  @media (prefers-color-scheme: dark) {
    --bg-color: #1d2125;

    --default-text-color: #b6c2cf;
    --inverse-text-color: #1d2125;

    --outline: #85b8ff;

    --button-bg: #579dff;
    --button-hover: #85b8ff;
    --button-bg-secondary: #a1bdd914;
    --button-bg-secondary-hover: #a6c5e229;

    --input-bg: #22272b;
    --input-bg-hover: #282e33;
    --input-border: #738496;
    --input-border-focus: #85b8ff;
  }
}

body {
  margin: 0;

  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: var(--default-text-color);

  background-color: var(--bg-color);
}

input,
select,
textarea,
button {
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

.g-button {
  padding: 3px 20px;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.g-button--primary {
  background-color: var(--button-bg);

  color: var(--inverse-text-color);
}

.g-button--primary:hover,
.g-button--primary:active {
  background-color: var(--button-hover);
}

.g-button:focus {
  outline: 2px solid var(--outline);
  outline-offset: 2px;
}

.g-button--default {
  background-color: var(--button-bg-secondary);
}

.g-button--default:hover,
.g-button--default:active {
  background-color: var(--button-bg-secondary-hover);
}

.g-input,
.g-select {
  padding: 4px 8px;

  border: 1px solid var(--input-border);
  border-radius: 4px;

  background-color: var(--input-bg);
}

.g-input:hover,
.g-select:hover {
  background-color: var(--input-bg-hover);
}

.g-input:focus,
.g-select:focus {
  border-color: var(--input-border-focus);

  outline: 2px solid var(--outline);
}

.g-select {
  padding-right: 28px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' role='presentation'%3E%3Cpath fill='%23172b4d' fill-rule='evenodd' d='M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0 top 50%;
  background-size: 24px 24px;

  appearance: none;

  @media (prefers-color-scheme: dark) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' role='presentation'%3E%3Cpath fill='%23b6c2cf' fill-rule='evenodd' d='M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0'%3E%3C/path%3E%3C/svg%3E");
  }
}
